<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"
        <title>RESTful Creatures</title>
    </head>
    <body>
        <h1>RESTful Creatures</h1>
        <a href="/">Home</a>
        <a href="/dinosaurs">Dinos!</a>
        <a href="/prehistoric_creatures">Creatures!</a>
        <%- body %>
    </body>
</html>