<form method="POST" action="/prehistoric_creatures">
    <label for="creatureType">Type:</label>
    <input type="text" name="type" id="creatureType"/>
    <label for="creatureImg_Url">Img Url:</label>
    <input type="text" name="img_url" id="creatureImg_Url"/>
    <button type='submit'>Add a Creature!</button>
</form>